{% extends "ekzerco_base.html" %}

{% block exercise %}
  {% set tasko = 'Elektu la ĝustan opcion' %}

  <h3 dir="{{enhavo.tekstodirekto}}"> {{enhavo.fasado[tasko]}} </h3>

  <form id="form-{{form_id}}">

    {% for demando in unit['items'] %}
      {% set demando_loop = loop %}
      <div class="form-group">
        <label class="control-label" dir="{{enhavo.tekstodirekto}}">{{demando.question}}</label>
        <div>
          {% for opcio in demando.options %}
            {% set id = 'elektu-' ~ leciono_index ~ '-' ~ ekzerco_index ~ '-' ~ demando_loop.index ~ '-' ~ loop.index %}
            <div class="radio">
              <label dir="{{enhavo.tekstodirekto}}">
                <input type="radio" name="elektu-{{form_id}}-{{demando_loop.index}}" id="{{id}}" data-korekta="{{ 'true' if opcio.correct else 'false' }}">
                {{opcio.text}}
              </label>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}

    <input type="button" class="btn btn-success solvu-elektu" value="{{enhavo.fasado['Solvu']}}" data-form-id="{{ form_id }}" />
    <input type="button" class="btn btn-danger forigu-elektu" value="{{enhavo.fasado['Forigu']}}" data-form-id="{{ form_id }}" />
  </form>
{% endblock %}
