{% set morfemy = [] %}
{%- if vorto.token is string -%}
  {{vorto.token}}
{%- elif not vorto.token -%}
  {{" "}}
{%- elif vorto.token is iterable -%}
  <a href="javascript:" data-toggle="popover" title="
    {% set klavo = vorto.token.lemma %}
    {{klavo}}
  " data-content="
    {% include 'tradukajxo.html' %}
    <table>
    {% if vorto.token.morfemes|length > 0 -%} 
      {% for one_mini_dict in vorto.token.morfemes -%} 
        {% for morfema, smysl in one_mini_dict.items() -%} 
        {% set pustota = morfemy.append( morfema ) %}

        <tr>
        {% if smysl|lower == 'stem' -%} 
          <td><em><strong>{{morfema}}</strong></em></td>
          <td></td>
        {% else %}
          <td><em>{{morfema}}</em></td>
          <td>
            {{smysl}}
          </td>
        {% endif %} 
        </tr>
      {%- endfor %}
      {%- endfor %}
    {% endif %} 
    </table>
  "
  >{{morfemy|join}}</a>
{%- else %} 
  {{vorto}}

{% endif -%} 
